<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsivo a otros dipositivos -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body data-appname="{{title}}">
    <!-- Barra superior -->
    <header class="top-bar">
        <a href="http://localhost/menu.php">
            <button>Home</button>
        </a>
        <div style="position: absolute; top: 0; right: 0;">
            <button id = "downloadBtn">Downlad zip</button>
        </div>
    </header>
    <main id="cuerpo" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh;">
        <div id = "buttonContainer" style="display: flex; flex-direction: column; align-items: center;">
            <button style="margin: 1vw;" id="btnEco">Aprendizaje Ecografía</button>
            <button style="margin: 1vw;" id="btnFisio">Aprendizaje Fisiología</button>
            <button style="margin: 1vw;" id="btnSimFisio">Simulación fisiológica</button>
            <button style="margin: 1vw;" id="btnSimPatol">Simulación patológica</button>
        </div>

        <div id="content" style="display: none;">
            <h1>Zonas disponibles en el mapa del cuerpo humano</h1>
            <div style="display: flex;">
                <div id="zonasCuerpo"></div>
                <div id="windowZona" class="window hidden">
                    <div class="form-row">
                        <div class="form-label">Nombre</div>
                        <input id="newZone" type="text" placeholder=" Nueva zona">
                    </div>
                    <div class="aceptarCancelar">
                        <button id="btnAceptarNuevaZona">Aceptar</button>
                        <button id="btnCancelarNuevaZona">Cancelar</button>
                    </div>
                </div>
                <div id="windowCortes" style="margin: 1rem; padding:0.5rem 1rem" class="hidden">
                    <div style="font-size: 1.2rem; color:#4b5563">Corte: </div>
                    <div id="cortesDisponibles"></div>
                </div>
                <div id="windowNewCorte" class="window hidden">
                    <div class="form-row">
                        <div class="form-label">Nombre</div>
                        <input id="newCorte" type="text" placeholder=" Nuevo corte">
                    </div>
                    <div class="aceptarCancelar">
                        <button id="btnAceptarNuevoCorte">Aceptar</button>
                        <button id="btnCancelarNuevoCorte">Cancelar</button>
                    </div>
                </div>
                <!--
                <div id="windowOrientacion" style="margin-top: 1rem; padding:0.5rem 1rem" class="hidden">
                    <div style="font-size: 1.2rem; color:#4b5563; margin-top:1rem;">Orientación: </div>
                    <div id="orientacionDisponibles"></div>
                </div>
                <div id="windowNewOrientacion" class="window hidden">
                    <div class="form-row">
                        <div class="form-label">Nombre</div>
                        <input id="newOrientacion" type="text" placeholder=" Nueva orientacion">
                    </div>
                    <div class="aceptarCancelar">
                        <button id="btnAceptarNuevaOrientacion">Aceptar</button>
                        <button id="btnCancelarNuevaOrientacion">Cancelar</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </main>
    <div id="mapaWindow" class="windowCentral hidden">
        <h1 id="titleMapa"></h1>
        <div style="display: flex;">
            <label class="file-btn">
                Seleccionar mapa
                <input type="file" id="mapaFileInput" class="hidden">
            </label>
            <div style="color: #4B5563; margin-top: 0.5rem; width:50%; display:flex; justify-content: space-between;" id="mapaText"></div>
        </div>
        <div style="display: flex;">
            <label class="file-btn">
                Añadir máscaras
                <input type="file" id="mascaraFileInput" multiple class="hidden">
            </label>
            <div style="display: flex; flex-direction: column; width:50%;" id="listaMascaras"></div>
        </div>
        <div style="display: flex; justify-content: center;">
            <button id="btnAceptarImg">Aceptar</button>
            <button id="btnCancelarImg">Cancelar</button>
        </div>
    </div>

    <div id="warningMapa" class="warningCentral hidden">
        <div style="display:flex; justify-content: center;">Se debe seleccionar al menos una máscara.</div>
        <div style="display: flex; justify-content: center; margin-top: 2rem;">
            <button id="btnWarn">Aceptar</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script_UZSim.js') }}"></script>
</body>
</html>