<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsivo a otros dipositivos -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script>
</head>
<body data-appname="{{title}}">
    <!-- Barra superior -->
    <header class="top-bar">
        <a href="http://localhost/menu.php">
            <button>Home</button>
        </a>
        <button id = "reloadBtn">Reload</button>
    </header>

    <!-- Área central -->
    <main class="content">
        <div class="selector">
            <button id="fileBtn">Select video</button>
            <p id="fileName">No video selected.</p>
            <p class="researcher-info" id="researcherInfo" data-user="{{user}}"></p>
        </div>
        <!-- <input type="file" id="videoFileInput" accept="video/*" style="display:none;"> -->
        <div class="frame-viewer">
            <div class="canvas-container">
                <canvas id="frame-placeholder"></canvas>
                {% if title.startswith('base') %}
                    <canvas id="frame-overlay" class="hidden"></canvas>
                    <canvas id="frame-final" class="hidden" ></canvas>
                {% endif %}
            </div>
            <div class="botones_frame">
                <button id="acceptFrameBtn" class="hidden" disabled>Select frame</button>
                <button id="acceptFramesBtn" class="hidden">Select group of frames</button>
            </div>
            <button id="acceptGroup" class="hidden">Accept group of frames</button>
            <button id="submitBtn" class="hidden" disabled>Submit</button>
        </div>
    </main>
    <div id="videoWindow" class="window hidden">
        <ul id="videoList" class="videoList"></ul>
    </div>

    <div id="bases-limits" class="popup hidden">
        <span>Limits</span>
        <div class="popup-content">
            <button id="limtis-retry">Retry</button>
            <button id="limits-accept">Accept</button>
        </div>
    </div>
    <div id="bases_scale" class="popup hidden">
        <span>Scale</span>
        <div class="popup-content">
            <button id="scale-retry">Retry</button>
            <button id="scale-accept">Accept</button>
            </div>
    </div>

    <!--<div id="evaluator-popup" class="popup hidden">
        <div class="popup-content">
            <label for="evaluator">Evaluator: </label>
            <input type="text" id="evaluator" placeholder="Evaluator Name">
        </div>
        <button id="evaluator-submit">Accept</button>
    </div>-->

    <!-- Video abajo izquierda -->
    <div id="video-container" style="display:none;">
        <video id="video-player"></video>
        <div class="progress-bar">
            <input type="range" id="progress" min="0" max="100" value="0" step="0.1">
        </div>
        <div id="range"></div>
        <div class="frame-controls">
            <button id="prev-frame">⏮</button>
            <button id="play">►</button>
            <button id="pause" class="hidden">⏸</button>
            <button id="next-frame">⏭</button>
        </div>
    </div>

    <!-- Menú lateral (oculto hasta aceptar) -->
    <aside class="sidebar hidden" id="sidebar">
        <div class="quality">
            <button id="qualityGreen" class="quality-button transparent" style="background-color: #4CAF50;">Good</button>
            <button id="qualityYellow" class="quality-button transparent" style="background-color: #FFC107;">Fair</button>
            <button id="qualityRed" class="quality-button transparent" style="background-color: #E53935;">Bad</button>
            <button id="qualityBlack" class="quality-button transparent" style="background-color: #333333;">None</button>
        </div>
        <div class="block">
            {% if data.zones|length > 1 %}
                <div id="selectZone">Select Zone:</div>
                <div class="zones">
                    {% for zone in data.zones %}
                        <label>
                            <input type="radio" name="zone" value="{{ zone.value }}"
                            {% if loop.first %}
                                checked
                            {% endif %}>
                            <span class="check"></span>
                            {{ zone.label }}
                        </label>
                    {% endfor %}
                </div>
            {% else %}
                {% for zone in data.zones %}
                    <input type="radio" name="zone" value="{{ zone.value }}" checked hidden>
                {% endfor %}
            {% endif %}
        </div>
        <div class="block">
            <div id="selectStructure">Select Structure:</div>
            {% for zone, structures in data.structures.items() %}
                {% for structure in structures %}
                    <div class=" structure-item {{ zone }}-structure-item hidden transparent" data-color="{{structure.color}}">
                        <div class = "rectangulo">
                            <span class="structure-name" style="color: #1A1A1A">{{ structure.name }}</span>
                            <input type="range" min="1" max="40" value="{{ structure.width }}" class="brush-slider" style="accent-color: {{ structure.color }};">
                            <button id="delete{{ loop.index }}" class="delete">✖</button>
                        </div>
                        <button class="invisible" data-structure="{{ structure.name }}">Ø</button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </aside>
    {% if title == 'rm' %}
        <script src="{{ url_for('static', filename='script_rm.js') }}"></script>
    {% elif title.startswith('base') %}
        <script src="{{ url_for('static', filename='script_base.js') }}"></script>
    {% else %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>

    {% endif %}
</body>
</html>
